body {
    background-color: #ffffff;
    color: #00000;
    overflow: auto;
    margin: 0;
    padding-top: 0rem;
}

.tabtytul {
    /* tabelka z grafik¹ (nag³ówek) */
    background-color: #80c2ab;
    border-bottom: 2px solid #808080;
}

.tytul {
    /* komórka z tytu³em */
    color: #003c2d;
    padding-left: 10px;
    font-weight: bold;
    font-size: 45px;
}

.tytulnapis {
    /* tytu³ strony z cieniem (tylko IE) */
    padding-left: 10px;
    width: 400px;
    height: 60px;
    filter: Shadow(Color=#666666, Direction=150)
}

.tabela {
    /* tabela z planem */
    border-color: #c0c0c0
}

td {
      background-color: #f0fffb;
    color: #01130f;
}


a.n {
    /* nauczyciel */
    color: #002b20
}

a.s {
    /* sala */
    color: #f50b33
}

a.k {
    /* klasa */
    color: #000099
}

.p {
    /* przedmiot */
    color: #00634b;
    font-weight: bold
}

.op {
    /* napis */
    font: 10px verdana, sans-serif
}

@media print {
    .tabtytul {
        /* nag³ówek do druku */
        display: none
    }
}
